body {
  margin: 0;
}
/* Main page style */
.container {
  margin: 0 auto;
}
.main-page {
  background-image: url(../img/bg_main.jpg);
  height: 100vh;
  width: 100vw;
}
.main-title {
  text-transform: uppercase;
  color: white;
  padding-left: 25px;
  padding-top: 50px;
}
.main-list {
  padding-top: 250px;
}
.main-list-item {
  width: 450px;
  background-color: #373c49;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}
.main-list-link {
  text-decoration: none;
  color: orange;
  font-size: 18px;
}

/* First form style */
.first {
  background-color: #ecece6;
  height: 100vh;
}
.first-form {
  background-image: url(../img/first_form.png);
  background-repeat: round;
  margin: 250px auto;
  padding: 18px 23px;
  width: 266px;
  height: 259px;
}
.first-form-input-block {
  margin-top: 89px;
  margin-bottom: 32px;
}
.first-form-input {
  background: #e4e6e9;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: #636363;
  padding: 14px;
}
.first-form-button {
  background: radial-gradient(
    100% 100% at 55.23% 100%,
    #da944d 0%,
    #e3b557 100%
  );
  border: 1px solid #eab74e;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 11px;
}
/* Second form style */
.second {
  background-color: #d4d4d4;
  height: 100vh;
}
.second-form {
  background-image: url(../img/second-form.svg);
  background-repeat: round;
  margin: 250px auto;
  padding: 30px 40px;
  width: 326px;
  height: 291px;
  position: relative;
}
.secong-bg {
  position: absolute;
  left: 40px;
  top: 14px;
  height: 321px;
  width: 326px;
}
.second-header-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}
.second-header-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.second-header-close {
}
.second-form-input-block {
  margin-bottom: 27px;
}
.second-form-input {
  background: #ffffff;
  border: 1px solid #7f7f7f;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  line-height: 17px;
  color: #9f9f9f;

  opacity: 0.99;
}
.second-form-input:first-child {
  margin-bottom: 11px;
}
.second-form-button {
  background: linear-gradient(180deg, #e1e1e1 0%, #c3c3c3 79.17%, #d2d2d2 100%);
  border-radius: 6px;
  font-size: 18px;
  line-height: 21px;
  color: #3e3e3e;
  padding: 8px 35px;
  display: block;
  margin: 0 auto;
}
