* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial;
}
.container {
  margin: 0 auto;
  outline: 1px solid red;
}
.main {
}
.product {
  background: #445161;
  color: white;
}
.product-blocks {
  display: flex;
  justify-content: space-between;
  padding: 25px calc(50% - 1272px / 2) 19px;
}

.produch-title {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 69px;
  margin-bottom: 40px;
}
.product-list {
  list-style-image: url(../img/OK.svg);
}
.product-list-item {
  margin-bottom: 10px;
}

.product-image-block {
}
.product-image {
}
.about {
}
.about-text-block {
}
.about-title {
}
.about-paragraph {
}
.about-image-block {
}
.about-image {
}
.pluses {
}
.pluses-title {
}
.pluses-list {
}
.pluses-list-item {
}
.pluses-list-image {
}
.screen {
}
.screen-cards {
}
.screen-card {
}
.screen-image {
}
.screen-card-title {
}
.screen-card-paragraph {
}
.reviews {
}
.reviews-title {
}
.reviews-block {
}
.reviews-image {
}
.reviews-quote {
}
.reviews-author {
}
.buy {
}
.buy-title {
}
.buy-cards {
}
.buy-card-standart {
}
.buy-card-title {
}
.buy-price {
}
.buy-list {
}
.buy-list-item {
}
.buy-card-premium {
}
.buy-card-lux {
}
.contacts {
}
.contacts-title {
}
.contacts-form-block {
}
.contacts-form {
}
.contacts-input-text {
}
.contacts-input-email {
}
.contacts-input-textarea {
}
.contacts-button {
}
.contact-social-block {
}
.contacts-social-list-block {
}
.contacts-social-list {
}
.contacts-social-list-item {
}
.contacts-social-link-block {
}
.contacts-social-link {
}
.contacts-social-link-item {
}
.footer {
}
