* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial;
}

.main {
}
.product {
  background: #445161;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px calc(50% - 1272px / 2) 19px;
}
.product-text-block {
}
.produch-title {
  font-size: 60px;
  line-height: 69px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: normal;
}
.product-list {
  list-style-type: none;
}
.product-list-item {
  margin-bottom: 10px;
}
.product-list-image {
  margin-right: 5px;
}
.product-image-block {
}
.product-image {
  width: 472px;
  height: 217px;
}
.about {
  padding: 45px calc(50% - 1272px / 2) 50px;
  display: flex;
  justify-content: space-between;
}
.about-text-block {
}
.about-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: normal;
}
.about-paragraph {
  width: 646px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 11px;
}
.about-image-block {
}
.about-image {
}
.pluses {
  padding: 25px calc(50% - 1272px / 2) 19px;
}
.pluses-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #445161;
  font-style: normal;
  font-weight: normal;
}
.pluses-list {
}
.pluses-list-item {
}
.pluses-list-image {
}
.screen {
  padding: 25px calc(50% - 1272px / 2) 19px;
}
.screen-cards {
}
.screen-card {
}
.screen-image {
}
.screen-card-title {
}
.screen-card-paragraph {
}
.reviews {
  padding: 25px calc(50% - 1272px / 2) 19px;
}
.reviews-title {
}
.reviews-block {
}
.reviews-image {
}
.reviews-quote {
}
.reviews-author {
}
.buy {
  padding: 25px calc(50% - 1272px / 2) 19px;
}
.buy-title {
}
.buy-cards {
}
.buy-card-standart {
}
.buy-card-title {
}
.buy-price {
}
.buy-list {
}
.buy-list-item {
}
.buy-card-premium {
}
.buy-card-lux {
}
.contacts {
  padding: 25px calc(50% - 1272px / 2) 19px;
}

.contacts-title {
}
.contacts-form-block {
}
.contacts-form {
}
.contacts-input-text {
}
.contacts-input-email {
}
.contacts-input-textarea {
}
.contacts-button {
}
.contact-social-block {
}
.contacts-social-list-block {
}
.contacts-social-list {
}
.contacts-social-list-item {
}
.contacts-social-link-block {
}
.contacts-social-link {
}
.contacts-social-link-item {
}
.footer {
  padding: 25px calc(50% - 1272px / 2) 19px;
}
